html
  body
    
    // Footer
    footer.page-footer.font-small.pt-4
      // Footer Links
      .container.text-center.text-md-left
        // Grid row
        .row
          // Grid column
          .uk-column-1-3
            // Content
            img.uk-height-small(src="/images/logo_transparent.png" width="auto" )
            ul.list-unstyled
              li.list-inline-item
                a.btn.btn-danger.btn-rounded(href="/user") Sign up!
      // Call to action
      hr
      // Social buttons
      ul.list-unstyled.list-inline.text-center
        li.list-inline-item
          a.btn-floating.btn-fb.mx-1
            i.fab.fa-facebook-f  
        li.list-inline-item
          a.btn-floating.btn-tw.mx-1
            i.fab.fa-twitter  
        li.list-inline-item
          a.btn-floating.btn-gplus.mx-1
            i.fab.fa-google-plus-g  
        li.list-inline-item
          a.btn-floating.btn-li.mx-1
            i.fab.fa-linkedin-in  
        li.list-inline-item
          a.btn-floating.btn-dribbble.mx-1
            i.fab.fa-dribbble  
      // Social buttons
      // Copyright
      .footer-copyright.text-center.py-3
        | © 2019 Copyright: 
        a(href="/")  mhcm.ca
      // Copyright
    // Footer
