nav#nav-bar.navbar.sticky-top.navbar-expand-lg.navbar-light
    a.navbar-brand(href="/") Krista and Megan`s Blog
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
            a.nav-link(href="/")
                | Home 
                span.sr-only (current)
            li.nav-item
            a.nav-link(href="/blog/collections") Blog 
        form.form-inline.ml-auto(data-background-color)
            .input-group
                .input-group-prepend
                    span.input-group-text 
                        i.now-ui-icons.ui-1_zoom-bold
                input.form-control(type="text" placeholder="Search")














