
link(rel="icon" href="/images/favicon.png" type="image/x-icon") 
link(rel='stylesheet', href='/stylesheets/style.css')
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(href="/stylesheets/bootstrap.css" rel="stylesheet")
// UIkit CSS
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css")
script(async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
.uk-background-cover.uk-height-viewport.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(uk-parallax="bgy: -100" style="background-image: url(/images/cold-conifer-dawn-917494.jpg);")
    #heroText.uk-column-1.uk-position-left.spaced(uk-parallax="y: 250; easing: -2")
      h1() Mental Health Conscious Mom`s 
      p(class="lead") A blog about mental health and other things. Coming Soon!
      