doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/now-ui-kit.css?v=1.2.0" rel="stylesheet")
    link(href="/stylesheets/bootstrap.css" rel="stylesheet")
  body
    include partials/header.pug
    block content
    include partials/footer.pug
    block scripts 
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
      script(src="/public/javascripts/bootstrap.js")
      <!-- Plugins -->

      <!--   Core JS Files   -->
      script(src="javascripts/core/jquery.min.js" type="text/javascript")
      script(src="/javascripts/core/popper.min.js" type="text/javascript")
      script(src="/javascripts/core/bootstrap.min.js" type="text/javascript")

      <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
      script(src="/javascripts/plugins/bootstrap-switch.js")

      <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
      script(src="/javascripts/plugins/nouislider.min.js" type="text/javascript")

      <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
      script(src="/javascripts/plugins/bootstrap-datepicker.js" type="text/javascript")

      <!--  Google Maps Plugin    -->
      script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE")


      <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
      script(src="/javascripts/now-ui-kit.js?v=1.2.0" type="text/javascript")
